body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
}

.wrapper {
  max-width: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

h1 {
  margin: 0 0 20px;
  font-size: 24px;
}

.task {
  margin: 20px 0;
}

.controls {
  flex: 1;

  & .upload-field {
    margin-bottom: 20px;
    line-height: 1.5em;
    font-size: inherit;
  }

  & textarea {
    width: 100%;
    height: 350px;
    font-family: inherit;
    box-sizing: border-box;
    font-size: inherit;
    resize: none;
    padding: 5px;
    margin-bottom: 20px;
  }

  & .stats {
    h2 {
      font-size: 20px;
      margin: 0 0 10px;
    }

    p {
      margin: 0;
    }

    span {
      font-weight: bold;
    }
  }
}

.visualization canvas {
  width: 700px;
  height: 700px;
  border: 1px solid black;
}
